html, body {
    margin: 0;
    padding: 0;
    background: #253139;
    width: 100%;
    height: 100%;
    display: flex;
}

#container {
    flex: 1;
    display: flex;
}

.dock {
    flex: 1;
    display: flex;
}

.dock[direction=row] {
    flex-direction: row;
}

.dock[direction=column] {
    flex-direction: column;
}

.dock > .line {
    display: flex;
}

.dock > .line:last-child {
    display: none;
}

.dock[direction=row] > .line {
    width: 2px;
}

.dock[direction=column] > .line {
    height: 2px;
}

.block {
    flex: 1;
    display: flex;
    background: #2f3e47;
}

.block iframe {
    flex: 1;
    border: none;
}