html, body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    display: flex;
}

#container {
    flex: 1;
    display: flex;
}

.dock {
    flex: 1;
    display: flex;
}

.dock[direction=row] {
    flex-direction: row;
}

.dock[direction=column] {
    flex-direction: column;
}

.dock > .line {
    display: flex;
    background: black;
}

.dock > .line:last-child {
    display: none;
}

.dock[direction=row] > .line {
    width: 4px;
}

.dock[direction=column] > .line {
    height: 4px;
}

.block {
    flex: 1;
    display: flex;
}